@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --fontpricipal: 'Montserrat', sans-serif;
    --cor01:#d0e4ec;
    --cor02:#01B0CD;
    --cor03:#A9A19A;
    --cor04:#D99B77;
    --cor05:#DC733C;
}

body{
    font-family: var(--fontpricipal);
    background-color: var(--cor03);
}

header{
    text-align: center;
    padding: 50px 0px;
    background-color: var(--cor01);
}
 
header > h1{
    padding-bottom: 50px;
    font-size: 2.5em;
}

header > img{
    border-radius: 10px;
}

h2{
    padding: 20px 0px;
}

article> p{
    line-height: 2em;
    padding: 5px;
    max-width: 940px;
    margin: auto;
    text-align: justify;
}

article{
   background-color: var(--cor01);
   text-align: center;
}

.londres{
    background-image: url('../imagens/london.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: left 25% center;
    height: 700px;

}

.amsterdam{
    height: 700px;
    background-image: url('../imagens/amsterdam.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: bottom left 25%;
}

.veneza{
    background-image: url('../imagens/veneza.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.porto{
    background-image: url('../imagens/porto.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.madrid{
    background-image: url('../imagens/madrid.jpg');
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.berlin{
    background-image: url('../imagens/berlin.jpg');
    height: 750px;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center right 20%;
}

footer{
    text-align: center;
    font-style: italic;
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
    background-color: var(--cor02);
}