@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

@font-face{
    font-family:'cordel';
    src:  url('fonte/cordelina.otf') format('opentype');

}

:root{
    --fontePrincipal: 'cordel','Open Sans', Verdana, sans-serif;
    --cor01: #f1efebe3 ;
    --cor02: #e9e5de;
    --cor03: #59564f59;
    --cor04: #A69F94;
    --cor05: #0D0D0D ;
}

body{
    font-family: 'cordel';
}

header{
    height: 200px;
    text-align: center;
    background-color: var(--cor04);
}

header > h1{
    padding: 50px 0px;
    font-size: 3em;
}

section{
    background-color: var(--cor01);
    padding: 40px 0px;
    max-width: 700px;
    margin: auto;
}

section#fundo1{
    background-image: url('imagens/backgroundv001.jpg');
    background-attachment:  scroll;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 5px 5px 10px var(--cor05), inset -5px -5px 10px var(--cor05) ;
}

section#fundo2{
    background-image: url('imagens/backgroundv002.jpg');
    background-attachment:  scroll;
    background-position: center center;
    background-size: cover;
    box-shadow: inset 2px 2px 10px var(--cor05), inset -2px -2px 10px var(--cor05) ;
}

section#fundo1 > p{
    background-color: var(--cor03);
    color: var(--cor02);
}

section#fundo2 > p{
    background-color: var(--cor03);
    color: var(--cor05);
}
section p{
    max-width: 300px;
    font-size: 1.2em;
    line-height: 2em;
    text-align: center;
    margin: auto;
}

footer{
    text-align: center;
    background-color: var(--cor05);
    padding: 20px;
    color: var(--cor02);
}